@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
:root {
    --primary-font: 'Montserrat', sans-serif;
    --primary-color: #BFA324;
    --secondary-font: 'Palatino Linotype';
}
* {
  box-sizing: border-box;
}
body, html {
  background-color: whitesmoke !important;
  padding: 0px;
  width: 100%;
  overflow-x: hidden !important ;
}

/* POPUP */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
    }
    .cnt223 a{
    text-decoration: none;
    }
    .popup-onload{
    width: 100%;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
    }
    .cnt223{
      overflow: scroll !important;
    min-width: 200px;
    width: 100%;
    min-height: 150px;
    max-height: 80vh;
    margin: 0px auto;
    background: #f3f3f3;
    position: relative;
    z-index: 130;
    padding: 15px 35px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
    }
    .cnt223 p{
    clear: both;
        color: #555555;
        /* text-align: justify; */
        font-size: 15px;
        font-family: var(--primary-font);
    }
    .cnt223 p a{
    color: #BFA324;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Palatino Linotype';
    font-style: italic;
    font-variant: normal;
    font-weight: 800;
    }
    .cnt223 .x{
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
    }
    .cnt223 .x:hover{
    cursor: pointer;
    }

/* HOMEPAGE */
.home {
    background-image: url("https://raw.githubusercontent.com/shreyanshkohli/LegalSolutions/main/Background.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.LSCover {
    background-color: rgba(0, 0, 0, 0.54);
    z-index: 80;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.LSquote { 
    font-size: 2.8rem;
    font-family: "Palatino Linotype";
    font-style: italic;
    font-variant: normal;
    font-weight: 800;
    color: #BFA324;
    padding: 17rem 0.5rem 3rem 0.5rem;
    text-align: center;
    /* line-height: 26.4px; */
}
nav{
  position: fixed;
  z-index: 99;
  width: 100vw;
  background: rgba(255, 255, 255, 0);
  font-family: var(--primary-font);
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.wrapper .logo a{
  color: #BFA324;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #BFA324;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.wrapper .btn{
  color: #BFA324;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: var(--primary-color);
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-family: "Palatino Linotype";
    font-style: italic;
    font-variant: normal;
    font-weight: 800;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 1.5rem;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }

/* WHO ARE WE */
.homePageAbout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 50px 40px ;
    background-color: whitesmoke;
}

.charanpreetImg {
    width: 100%;
    max-width: 400px;
}
.aboutContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    background-color: whitesmoke;
    max-width: 700px; 
    padding: 1rem;
}
.headingOne {
    font-family: var(--primary-font);
    color:var(--primary-color);
    font-weight: 800;
    padding: 0.7em 0em 0.2em 0em;
    font-size: 1.8rem;
    text-align: center;
}
.headingTwo {
  font-family: "Palatino Linotype";
    font-style: italic;
    font-variant: normal;
    font-weight: 800;
    font-weight: bold;
  color:var(--primary-color);
  font-weight: 800;
  padding: 0.7em 0em 0.2em 0em;
  font-size: 2rem;
  text-align: center;
}
.whoWeAreP {
    font-family: "Palatino Linotype";
    font-style: italic;
    font-variant: normal;
    padding: 0em 0.25em;
}

.LTBadges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1rem;
    justify-content: center;
}
.trust, .loyalty {
  display: flex;
  flex-direction: row;
    align-items: center;
  justify-content: center;
  margin: 0.2rem 0rem;
}
.BadgeHead {
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
}
.BadgeBox {
  direction: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1rem;
}
.BadgeContent {
  text-align: center;
  width: 13rem;
  font-family: "Palatino Linotype";
  font-style: italic;
  font-variant: normal;
  margin-top: -0.5rem;
  font-size: 1rem;
}


/*WHY CHOOSE US*/

.metricsContainer {
  background: whitesmoke;
  margin: 0 auto;
  padding: 50px 0px;
}


*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 60em;
  margin: 0 auto;
}

.scroll-cards {
  counter-reset: card;
  position: relative;
  display: block;
  padding-bottom: 41vh;
  margin-top: 1.5rem;
}

.scroll-cards > .scroll-cards__item + .scroll-cards__item {
  margin-top: 40vh;
  
}

.scroll-cards__item {
  --offset: 0.5em;
  /* width: calc(100% - 5 * var(--offset)); */
  width:85%;
  color: black;
  position: sticky;
  top: max(16vh, 10em);
  padding: 0em 1.5em;
  min-height: 11em;
  background: white;
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.2);
  margin: 0px 1rem;
}

.textsymbolLock > h2 {
  font-size: 1.2em;
  font-family: var(--primary-font);
  color: #BFA324;
  /* background-color: green; */
  display: inline-block;
}

.wrapper p {
  font-size: 0.9em;
  line-height: 1.5;
  font-family: "Palatino Linotype";
  font-style: italic;
  font-variant: normal;
}

.textsymbolLock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
/*
If you use SASS you can shorten this one here like this:

@for $i from 0 through 5 {
  &:nth-of-type(#{$i}) {
    transform: translate(calc((#{$i} - 1) * var(--offset)), calc((#{$i} - 1) * var(--offset)));
  }
}
*/
.scroll-cards__item:nth-of-type(0) {
  transform: translate(calc((0 - 1) * var(--offset)), calc((0 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(1) {
  transform: translate(calc((1 - 1) * var(--offset)), calc((1 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(2) {
  transform: translate(calc((2 - 1) * var(--offset)), calc((2 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(3) {
  transform: translate(calc((3 - 1) * var(--offset)), calc((3 - 1) * var(--offset)));
}


@media screen and (min-width: 37em) {
  h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1em;
    padding-left: 5em;
  }
  .scroll-cards__item:before {
    counter-increment: card;
    content: "0" counter(card);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75em;
    height: 2.75em;
    background: white;
    color: #BFA324;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 1.25em;
    top: 1.25em;
    font-weight: bold;
  }

  .scroll-cards__item {
    margin: 0px 8rem;
  }
}

@media screen and (min-width: 62em) {
  .scroll-cards h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1.25em;
    max-width: 42em;
  }
}

/*PRACTICE AREAS*/
.practiceAreaContainer {
  /* margin-top: -40vh; */
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0px 100px 0px;
}
.practiceHeads {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--primary-color);
}
.practiceText {
  font-family: "Palatino Linotype";
  font-style: italic;
  font-variant: normal;
  font-size: 1rem;
  color: var(--primary-color);
  text-align: left;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.swiper-button-next, .swiper-button-prev, .swiper-pagination, .swiper-scrollbar {
  color: #BFA324 !important;
}
#PracticeCardFinal {
  display: block;
  width: 100%; 
  margin: 0px auto;
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: white;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }





  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}


/* @media (max-width: 800px) {
.homePageAbout {
    flex-direction: row;
} */

/* TESTIMONIALS */

.testimonials {
  background-color: whitesmoke;
}
.testimonialSlider-container {
  overflow-x: auto; /* Always show scrollbar */
  /* white-space: nowrap; */
}
.testimonialSlider {
  display: flex;
}
.testimonialHeader {
  display: flex;
}
.testimonialCard {
  display: inline-block;
  background-color: #ffffff;
  /* border: 0.2px solid #000000; */
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  min-width: 300px ; /* Width of each card */
  width: 20em;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nameAndDesignation {
  margin-right: 2rem;

}

.testimonialHead {
  font-family: var(--primary-font);
  font-size: 1.3rem;
}

.testimonialDesignation {
  font-family: var(--primary-font);
  font-size: 0.9rem;
}

.testimonialParagraph {
  min-width: 10px;
  font-family: "Palatino Linotype";
  font-style: italic;
  font-variant: normal;
  font-size: 1rem;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: whitesmoke;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* GET IN TOUCH */
.getInTouch {
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 3rem;
  max-width: 1500px;
}
.getInTouchAgain {
  background-color: rgb(255, 255, 255);
  margin: 3rem auto;
  /* padding: 2rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.getInTouchContent {
  padding: 3rem 0rem 4rem 0rem;
  max-width: 600px;
  margin: 0px auto;
}
.headingThree {
  font-family: "Palatino Linotype";
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  font-size: 1rem;
  color:#BFA324;
  text-align: center;
}
.headingFour {
  font-family: var(--primary-font);
  font-size: 1.8rem;
  color:#BFA324;
  text-align: center;
  margin-top: 0px;
  padding: 0px;
}
.getInTouchParagraph {
  font-family: "Palatino Linotype";
  font-style: italic;
  font-variant: normal;
  font-size: 1rem;
  color:#BFA324;
  text-align: center;
  padding: 0rem 4rem;
}
.getInTouchContent  button {
  font-size: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.getInTouchImg {
  margin: 0 auto;
}
.getInTouchImg img {
  width: 350px;
  padding: 1rem 0rem;
  margin: 0 auto;
}

/* FOOTER */
.footerLogo {
  margin-top: 2rem;
}
.linksContainerFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  text-align: center;
}
.footerTexts {
  font-family: var(--primary-font);
  text-align: center;
  padding: 0.5rem 0.4rem;
}
.footerEnd {
  font-family: var(--primary-font);
  background-color: #BFA324;
  color: white;
  padding: 0.3rem;
}
footer a {
  color: #BFA324;
  text-decoration: none;
}




/* ABOUT US PAGE */
.homeIntro {
  background-image: url('https://raw.githubusercontent.com/shreyanshkohli/LegalSolutions/main/coverOthers.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.homeIntroCover {
  background: rgba(0, 0, 0, 0.5);
}
.otherPagesTopHeading {
  font-size: 2.8rem;
  font-style: italic;
  font-variant: normal;
  font-weight: 800;
  color: #BFA324;
  padding: 6rem 0.5rem 4rem 0.5rem;
  text-align: center;
  font-family: "Palatino Linotype";
}

.mainInfoAboutUs {
  background-color: whitesmoke;
  padding: 2rem 2rem 1rem 2rem;
  text-align: center;
}
.mainInfoAboutUsPara {
  font-size: 1.1rem;
  padding-bottom: 2rem;
}

.aboutUsCharanpreet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.textHeadingAboutUsCharanpreet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
}

.ourWorkPlace {
  background-color: whitesmoke;
  margin: 3rem 0rem;
}

/* CONTACT US */
.addressNumberMail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding: 5rem 0rem;
}
.addressNumberMailCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  min-height: 180px;
  min-width: 300px;
  max-width: 400px;
  border-radius: 10px;
  width: 80%;
}
.iconAndName {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
}
.iconAndName .headingOne {
  padding-left: 0.9rem;
  display: inline;
}
.addressNumberMailDeatil {
  padding: 0.7rem;
  font-size: 1rem;
  font-style: italic;
  font-variant: normal;
  font-family: "Palatino Linotype";
}

.contacUsFormBG {
  background-image: url('https://raw.githubusercontent.com/shreyanshkohli/LegalSolutions/main/coverOthers.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 650px;
}
.contacUsFormBGCover {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 1rem;
  min-height: 650px;
}
.actualForm {
  /* background-color: whitesmoke; */
  width: 90%;
  height: 90%;
  margin: 1rem auto;
  padding: 1rem;
}
.formInputs {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  margin-top: 2rem;
}
#contacReview {
  margin-bottom: 2rem;
}

/* PRACTICE AREAS */
.practiceAreaCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0px;
}
.practiceAreaCardsContainer .service-card{
  margin: 0rem 2rem 3rem 2rem;
}

/* DISCLAIMER */
.disclaimerPara {
  font-family: var(--primary-font);
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}



/* MEDIA QUERIES */



